<% form_for @article do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :headline %><br />
    <%= f.text_field :headline %>
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
