<% form_for @article do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :headline %><%= f.check_box :published %>&nbsp;<%= f.label :published %><br /><br />
    <%= f.text_field :headline %>
  </p>
  <p>
    <%= f.label :content %>
<br />
    <%= f.text_area :content, { :class => "mceEditor" } %>
  </p>
	<p>
	</p>
  <p><%= f.submit "Submit" %></p>
<% end %>
