<% title "Articles" %>

<table>
  <tr>
    <th>Headline</th>
    <th>Content</th>
  </tr>
  <% for article in @articles %>
    <tr>
      <td><%=h article.headline %></td>
      <td><%=h article.content %></td>
      <td><%= link_to "Show", article %></td>
      <td><%= link_to "Edit", edit_article_path(article) %></td>
      <td><%= link_to "Destroy", article, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Article", new_article_path %></p>
