<% title "Articles" %>

<table>
  <tr>
    <th style="width:250px;text-align:left;">Headline</th>
	<th style="width:100px;text-align:left;">Status</th>
	<th style="width:200px;text-align:left;">Author</th>
	<th style="width:50px;text-align:left;">View</th>
	<th style="width:50px;text-align:left;">Edit</th>
	<th style="width:50px;text-align:left;">Delete</th>
    </tr>
  <% for article in @articles %>
    <tr>
      <td><%= truncate(article.headline, :length => 30) %></td>
	  <td><%= status_text article%></td>
    <td><%= link_to_profile article.user %></td>  
	<td><%= link_to "View", article %></td>
      <td><%= link_to "Edit", edit_article_path(article) %></td>
      <td><%= link_to "Delete", article, :confirm => 'Are you sure you want to delete this post?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Article", new_article_path %></p>
